* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif
}

article {
  margin: 0 auto;
}

article header {
  padding: 8rem 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #EDDD3E;
  background-blend-mode: screen;
  text-align: center;
  position: relative;  
}

.content {
  max-width: 45rem;
  margin: 0 auto;
  padding: 2rem;
}

article img {
  width: 100%;
}

article p {
  margin: 0 auto 1rem;
}

article header h1 {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  z-index: 200;
  font-size: 3em;
  color: #eddd3e;
  text-shadow: -1px -1px 2px #fff, 1px 1px 2px #000;
}

@media screen and (min-width: 30em) {
  article header h1 {
    font-size: 5em;
  }    
}

@media screen and (min-width: 50em) {
  article header h1 {
    font-size: 7em;
  }
}